* {
    box-sizing: border-box;
}
.title {
    color: #2d332a;
    border: 5px solid black;
    background-color: #6f8a63;
    font-size: 46px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    
}

.list,
.recipes {
    color: black;
    border: 5px solid black;
    font-size: 28px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: left;
}

.recipes {
    font-size: 28px
}

.ingredients {
    font-size: 20px
}

.steps {
    font-size: 16px
}

h3 {
    color: #3e5235;
    background: lightgoldenrodyellow;
    width: fit-content;
    height: fit-content;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: left;
}

p {
    color: black;
    background: lightpink;
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: left;
}

